/* 
 * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
 * See LICENSE in the project root for license information.
 */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #228ABD;
}
.background {
    background-color: white;
    position: fixed;
    top: 15px;
    bottom: 0px;
    right: 15px;
    left: 15px;
}
header1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}


.main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 10px 20px;

}
 
.Button:hover,
.Button:focus{
  color: #005a9e;
  cursor: pointer;
}


.formLogin {
    position: fixed;
    z-index: 2;
    background-color: white;
    top: 15px;
    bottom: 0px;
    right: 15px;
    left: 15px;
}
#loginError {
    display: none;
    color: red;
}
.formSaving {
    position: fixed;
    top: 15px;

    padding: 50px 0 0 0;
}
input{
    width:240px;
}
select {
    width: 240px;
}
#Sprint {
    width: 100px;
}
#name {
    width: 240px;
}
#description {
    width: 240px;
    height: 250px;
}
.cursorLoading {
    cursor: wait;
}
#logout {
    z-index:1;
    color: red;
    position: fixed;
    top:10px;
    right: 30px;
}

.success {

    display: none;
    position: fixed;
    text-align: center;    
    top: 15px;
    bottom: 0px;
    right: 15px;
    left: 15px;
    padding: 75px;

}

